.button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.button::-moz-focus-outer,
.button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.button-active path {
    fill: #00703D;
}